* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin-top: 3rem;
}

.container_90 {
  width: 98%;
  margin: 0 auto;
}
.post-items {
  display: flex;
  flex-direction: row;
  background: #f8f9f96b;
  padding: 0.6rem;
  transition: transform 0.1s ease-out;
  margin: 10px 0;
  overflow: hidden;
  max-height: 165px;
  
}
.post-items:hover {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.post_image {
  display: block;
  height: auto;
  border: 1px solid transparent;
  position: relative;
  z-index: 10;
}

.post_image img {
  object-fit: cover;
  object-position: center;
  width: 228.484px;
  height: auto;
  border-radius: 0.3rem;
  z-index: 20;
}

.post_image:hover::after {
  opacity: 1;
}

.post-data {
  padding: 0.7rem 1rem;
}

.post-data .Heading{
  font-size: 24px;
  font-weight: bolder;
  position: relative;
}
.post-data .time{
  margin-top:8px;
  font-size: 12px;
}

.post-data .Heading::after{
  content:"";
  display:block;
  clear:both;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0px;
  background: #282c34;
  transition: width .2s linear;
  opacity: .5;  
}

.post-data .Heading:hover::after{
  width: 100%;
  opacity: .5;  
}

.post-data a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: rgb(154, 134, 134, 1);
  letter-spacing: 0.2rem;
  
}

.post-data p {
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .post_image img {
    width: 200.484px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 35%;
  }
  .post_image img {
    width: 180.484px;
  }
}

@media (max-width: 600px) {
  .post_image img {
    width: 120.484px;
  }
}

@media (max-width: 500px) {
  .post_image img {
    width: 100.484px;
  }
}
