{% extends 'baseblg.html' %}
{% load static %}
{% load humanize %}


{% block link-2 %}
<link rel="stylesheet" href="{% static 'home/css/bg.css' %}">
{% endblock link-2 %}


{% block title %}
{{post.title}}
{% endblock title %}



{% block content_body %}
<div class="post_body">
    <div class="head_section">
        <h2>
            {{post.title}}
        </h2>
    </div>

    <div class="main_body">
        <div class="body_section">
            {{post.contents|safe}}
        </div>
    </div>
</div>
{% endblock content_body %}



{% block script-2 %}

{% endblock script-2 %}
